.basket {
    width: 100%;
    height: 100%;
    display: block;
    padding: 1rem;
    overflow: scroll;
}

.container {
    display: inline-block;
    width: 13rem;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 12px;
}