.page_Sidebar ul li a.nav_bar_link.active {
  background-color: #edebe9;
}
.page_Sidebar ul li:first-child span {
  font-size: 13px;
}
.page_Sidebar ul li:first-child {
  padding: 10px 20px;
}
.page_Sidebar ul li:first-child i {
  cursor: pointer;
}
.page_Sidebar ul li a.nav_bar_link {
  color: #323130;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 4px;
}
.page_Sidebar ul li a.nav_bar_link i {
  font-size: 21px;
  color: #0078d4;
  flex: 0 0 35px;
  cursor: pointer;
}
.menuhide .sidebar-container {
  flex: 0 0 50px;
}
