.activities_properties {
  flex: 0 0 315px;
  padding: 13px;
  border-left: 1px solid #e0e0e0;
}
.activities_properties .nav-justified .nav-item,
.activities_properties .nav-justified > .nav-link {
  margin: unset;
  flex-grow: 0;
}

.activities_properties .nav-tabs .nav-link:hover {
  border: unset;
}
.activities_properties .nav-tabs .nav-link {
  font-size: 14px;
  width: max-content;
  margin: 0 auto;
  color: #000;
  outline: 0 !important;
}
.activities_properties .nav-tabs .nav-item.show .nav-link,
.activities_properties .nav-tabs .nav-link.active {
  border-color: transparent;
  border-bottom: 2px solid #0078d4;
  font-weight: 600;
}
.general-form label {
  font-size: 13px;
  font-weight: 600;
}
.general-form .form-control {
  font-size: 13px;
}
